<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.3.0.112617</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {756, 553}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2010-05-29 14:50:11 -0700</string>
	<key>Creator</key>
	<string>Pete Hodgson</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>CD13FC64-C596-11DA-BEB1-000A95D764F6-3187-00000A0CA5790A65</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.473451, -0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.488114, -0.5}</string>
						<key>control2</key>
						<string>{0.5, -0.48779}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, -0.472727}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.318179}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, 0.333241}</string>
						<key>control2</key>
						<string>{0.488114, 0.345451}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.473451, 0.345451}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.473451, 0.345451}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.488114, 0.345451}</string>
						<key>control2</key>
						<string>{-0.5, 0.333241}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.318179}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.472727}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.5, -0.48779}</string>
						<key>control2</key>
						<string>{-0.488114, -0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.473451, -0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.473451, -0.5}</string>
						<key>control2</key>
						<string>{-0.473451, -0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.473451, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.110618, 0.354542}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.12832, 0.354544}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.14602, 0.454544}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.199116, 0.481818}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.199116, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.181416, 0.499998}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.181416, 0.481816}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.128319, 0.454542}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.446903, -0.445455}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.446903, 0.127273}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.446903, 0.127273}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.446903, -0.445455}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.0475665, 0.20961}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0420699, 0.202543}</string>
						<key>control2</key>
						<string>{0.0348105, 0.199005}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0257969, 0.199005}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0219942, 0.199005}</string>
						<key>control2</key>
						<string>{0.0185202, 0.199605}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0153787, 0.200803}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.0134083, 0.201567}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.0107682, 0.202659}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00903964, 0.203351}</string>
						<key>control2</key>
						<string>{0.00746679, 0.203693}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.00604951, 0.203693}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00494325, 0.203693}</string>
						<key>control2</key>
						<string>{0.00349152, 0.203298}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.00169384, 0.202508}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.000328302, 0.201647}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.00224686, 0.200839}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.00504708, 0.199614}</string>
						<key>control2</key>
						<string>{-0.00805008, 0.199005}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0112606, 0.199005}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0198684, 0.199005}</string>
						<key>control2</key>
						<string>{-0.026782, 0.201988}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0319974, 0.20795}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0372131, 0.213916}</string>
						<key>control2</key>
						<string>{-0.0398231, 0.221781}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0398231, 0.231547}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0398231, 0.245286}</string>
						<key>control2</key>
						<string>{-0.0356445, 0.257977}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0272833, 0.269624}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.0214844, 0.277756}</string>
						<key>control2</key>
						<string>{-0.0161781, 0.281818}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.0113775, 0.281818}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.00934207, 0.281818}</string>
						<key>control2</key>
						<string>{-0.00731993, 0.281414}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.00531495, 0.280602}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.00277412, 0.279546}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.000756264, 0.278804}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00207412, 0.277783}</string>
						<key>control2</key>
						<string>{0.00468397, 0.277273}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.00706923, 0.277273}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00958848, 0.277273}</string>
						<key>control2</key>
						<string>{0.0124879, 0.277925}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.015772, 0.27923}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.0173794, 0.279861}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0207238, 0.281166}</string>
						<key>control2</key>
						<string>{0.0233684, 0.281818}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0253042, 0.281818}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.029418, 0.281818}</string>
						<key>control2</key>
						<string>{0.0339636, 0.278924}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0389328, 0.273131}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0439022, 0.267343}</string>
						<key>control2</key>
						<string>{0.0477046, 0.260538}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0503318, 0.252721}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0405577, 0.247536}</string>
						<key>control2</key>
						<string>{0.0356747, 0.240092}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0356747, 0.230393}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0356747, 0.222296}</string>
						<key>control2</key>
						<string>{0.0396328, 0.215367}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0475665, 0.20961}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.0262548, 0.174307}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.0262548, 0.174307}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0254945, 0.174414}</string>
						<key>control2</key>
						<string>{0.024924, 0.174503}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0245436, 0.174574}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0192202, 0.175359}</string>
						<key>control2</key>
						<string>{0.014536, 0.178054}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0104915, 0.182657}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0064472, 0.18726}</string>
						<key>control2</key>
						<string>{0.00442493, 0.192183}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.00442493, 0.19743}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00442493, 0.198033}</string>
						<key>control2</key>
						<string>{0.00451112, 0.199037}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.00468397, 0.200426}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0104569, 0.200426}</string>
						<key>control2</key>
						<string>{0.0155213, 0.198095}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.019877, 0.193444}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0242325, 0.188783}</string>
						<key>control2</key>
						<string>{0.0264103, 0.183372}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0264103, 0.177197}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0264103, 0.176517}</string>
						<key>control2</key>
						<string>{0.0263585, 0.175555}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0262548, 0.174307}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.0262548, 0.174307}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{159.401, 166.294}, {62, 44}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>1</string>
					<key>g</key>
					<string>1</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>15327</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf540
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs36 \cf2 Test\
Scripts}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{250.174, 152.052}, {20.3187, 7.6532}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>15324</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{250.174, 136.108}, {20.3187, 7.6532}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>15325</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{191.25, 127.817}, {67.0518, 40.1793}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>15326</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf540
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Frank Driver}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>15323</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{97.87, 122.297}, {185.062, 131.993}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>31</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>RoundedStack</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.501961</string>
						<key>g</key>
						<string>0.25098</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{382.297, 108}, {79.243, 42}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>15318</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf540
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 automation commands (via HTTP)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{291.182, 141.477}, {217.09, 53.9093}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>8.7802238464355469</real>
			<key>Shape</key>
			<string>AdjustableDoubleArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50724875926971436</real>
				<key>width</key>
				<real>20.053150177001953</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.650309</string>
						<key>r</key>
						<string>0.727291</string>
					</dict>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.727062</string>
						<key>g</key>
						<string>0.290394</string>
						<key>r</key>
						<string>0.384375</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.139422</string>
						<key>r</key>
						<string>0.308186</string>
					</dict>
				</dict>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{529, 190.149}, {20.3187, 7.6532}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>23</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{529, 174.205}, {20.3187, 7.6532}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>24</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{541.191, 165.914}, {67.0518, 40.1793}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>25</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf540
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 Frank Server}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{537.813, 162.626}, {144.319, 131.993}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>27</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf540
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 Your app}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{537.813, 162.751}, {42.4466, 22.1898}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.501961</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
			</array>
			<key>ID</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{509.579, 50.7941}, {205, 373}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{21.9013, 73.7941}, {337, 327}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>LucidaGrande</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>15329</integer>
			<key>Shape</key>
			<string>CD13FC64-C596-11DA-BEB1-000A95D764F6-3187-00000A0CA5790A65</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>35</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.901473</string>
						<key>g</key>
						<string>0.901473</string>
						<key>r</key>
						<string>0.901473</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.2</string>
						<key>g</key>
						<string>0.2</string>
						<key>r</key>
						<string>0.2</string>
					</dict>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>2</integer>
			<key>TextRelativeArea</key>
			<string>{{0, 0.15}, {1, 1}}</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2010-05-29 15:30:22 -0700</string>
	<key>Modifier</key>
	<string>Pete Hodgson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{285, 4}, {710, 774}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, -53}, {575, 660}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>0.0</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
