[submodule "lib/KIF"]
	path = lib/KIF
	url = https://github.com/square/KIF.git
[submodule "lib/UISpec"]
	path = lib/UISpec
	url = https://github.com/moredip/UISpec
[submodule "lib/Shelley"]
	path = lib/Shelley
	url = https://github.com/TestingWithFrank/Shelley.git
[submodule "symbiote"]
	path = symbiote
	url = https://github.com/TestingWithFrank/symbiote.git
