//
//  main.m
//  Chase.Mobi
//
//  Created by phodgson on 5/24/10.
//  Copyright 2010 JP Morgan Chase. All rights reserved.
//

#include "FrankServer.h"

static FrankServer *sFrankServer;

int main(int argc, char *argv[]) {
    
    NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];
	
	sFrankServer = [[FrankServer alloc] initWithStaticFrankBundleNamed:@"frank_static_resources"];
	NSLog( @"Starting up Frank server on port %i", FRANK_SERVER_PORT );
	[sFrankServer startServer];
	
	int retVal = UIApplicationMain(argc, argv, nil, nil);
	
    [pool release];
    return retVal;
}
