<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Data</key>
		<data>AQAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAgICQwAAgD8AAIA/AADCQgAAwEIAAKBB</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>97</real>
			<key>Y</key>
			<integer>96</integer>
		</dict>
		<key>Time</key>
		<integer>304468592670569</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>97</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADEQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>98</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469430027816</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>98</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADEQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>98</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469446651958</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>98</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADGQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>99</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469463257292</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>99</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADIQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>100</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469479800395</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>100</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADIQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>100</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469496876941</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>100</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADKQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>101</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469513455190</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>101</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADMQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>102</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469530131542</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>102</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADOQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>103</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469546827464</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>103</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADSQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>105</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469563479295</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>105</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADWQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>107</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469580423882</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>107</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADcQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>110</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469597037212</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>110</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADiQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>113</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469613825894</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>113</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADmQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>115</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469630261157</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>115</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADsQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>118</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469647041616</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>118</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AADwQgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>120</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469663708328</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>120</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAD0QgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>122</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469680387928</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>122</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAD6QgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>125</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469697100664</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>125</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAD8QgAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>126</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469713944918</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>126</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAAQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>128</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469730464950</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>128</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAACQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>130</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469747181537</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>130</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAEQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>132</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469763701707</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>132</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAGQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>134</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469780538514</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>134</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAJQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>137</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469797208717</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>137</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAKQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>138</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469813837940</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>138</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAALQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>139</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469830535555</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>139</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAMQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>140</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469847328452</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>140</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAANQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>141</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469864009939</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>141</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAOQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>142</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469880761772</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>142</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAOQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>142</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469897487756</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>142</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAPQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>143</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469914255348</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>143</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAQQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>144</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469947581676</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>144</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAARQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>145</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304469964259496</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>145</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAARQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>145</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470014346023</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>145</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAASQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>146</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470031101341</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>146</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAASQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>146</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470047690450</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>146</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAATQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>147</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470081249177</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>147</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAUQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>148</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470131216151</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>148</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAUQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>148</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470281559234</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>148</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAVQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>149</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470298224871</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>149</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAVQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>149</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470314947438</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>149</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAWQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>150</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470348581201</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>150</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAWQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>150</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470365148490</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>150</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAYQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>152</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470381895119</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>152</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAaQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>154</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470398494775</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>154</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAdQwAAwEIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>157</real>
			<key>Y</key>
			<real>96</real>
		</dict>
		<key>Time</key>
		<integer>304470415257052</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>157</real>
			<key>Y</key>
			<real>96</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAfQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>159</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470431910783</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>159</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAhQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>161</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470448601207</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>161</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAiQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>162</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470465421273</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>162</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAkQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>164</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470482106090</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>164</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAlQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>165</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470498757458</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>165</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAmQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>166</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470515333763</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>166</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAnQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>167</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470532105973</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>167</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>AgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgICPwAAgD8AAIA/AAAnQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>167</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304470565515258</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>167</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
	<dict>
		<key>Data</key>
		<data>BgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARWRAgIBPwAAgD8AAIA/AAAnQwAAvkIAAChC</data>
		<key>Location</key>
		<dict>
			<key>X</key>
			<real>167</real>
			<key>Y</key>
			<real>95</real>
		</dict>
		<key>Time</key>
		<integer>304473273949023</integer>
		<key>Type</key>
		<integer>3001</integer>
		<key>WindowLocation</key>
		<dict>
			<key>X</key>
			<real>167</real>
			<key>Y</key>
			<real>95</real>
		</dict>
	</dict>
</array>
</plist>
