<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>Testing With Frank &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <meta content='Official Frank documentation from the people in the know' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26227397-1']);
      _gaq.push(['_setDomainName', 'testingwithfrank.com']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
      'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='index.html' title="Testing With Frank"><img alt='testing with frank' src='images/testing_with_frank.png'></a>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li><a href='index.html'>Home</a></li>
          <li>Getting Started
            <ol class="toc">
              <li><a href='installing.html'>Installation</a></li>
              <li><a href='configuration.html'>Configuration</a></li>
              <li><a href='tutorial.html'>Tutorial</a></li>
              <!--  <li><a href='troubleshooting.html'>Troubleshooting</a></li> -->
            </ol>
          </li>
          <li>Writing Tests
            <ol class="toc">
              <li><a href='supplied_steps.html'>Included Steps</a></li>
              <li><a href='user_steps.html'>User Contributed Steps</a></li>
        
            </ol>
          </li>
          <li>More Information
            <ol class="toc">
              <li><a href='presentations.html'>Presentations</a></li>
              <li><a href='screencasts.html'>Screencasts</a></li>
              <li><a href='faq.html'>FAQ</a></li>
              <li><a href='frankly.html'>Wire Protocol (Frankly)</a></li>              
            </ol>
          </li>
          <li>Get Involved
            <ol class="toc">
              <li><a href='mailing_lists.html'>Mailing Lists</a></li>
              <li><a href='contributing.html'>Contributing</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id='footer'>www.testingwithfrank.com<br/>
        Github: <a href="http://github.com/moredip/Frank">http://github.com/moredip/Frank</a></br>
        {{site.time}} <br/
        <p>Site design from <a href="github.com/apache/buildr">Apache
        Buildr project </a></p></div>
    </div>
  </body>
</html>
